# ==========================
# Python
# ==========================

backend/venv/
backend/__pycache__/
backend/**/*.pyc
*.py[cod]

# ==========================
# Variables de entorno
# ==========================

backend/.env
frontend/.env

# ==========================
# Node.js / Vue
# ==========================

frontend/node_modules/
frontend/dist/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Sistema operativo
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log