.table-actions {
  display: flex;

  gap: 10px;
}

.table-actions button {
  width: 34px;

  height: 34px;

  border: none;

  border-radius: 8px;

  background: transparent;

  cursor: pointer;

  transition: 0.2s;
}

.table-actions button:hover {
  background: #eef2ff;
}

.table-actions button i {
  font-size: 20px;

  color: #475569;
}

