.sidebar-container{

    background:#1e293b;
    color:white;

    height:100vh;

    padding:25px;

    display:flex;

    flex-direction:column;
}

.logo{

    font-size:22px;

    font-weight:700;

    margin-bottom:40px;
}

.logo i{

    margin-right:10px;
}

nav{

    display:flex;

    flex-direction:column;

    gap:15px;
}

nav a{

    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:8px;

    transition:.3s;
}

nav a:hover{

    background:#334155;
}

.router-link-active{

    background:#3b82f6;
}